<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ec3 trabajo de ADRIAN & DIANA</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" >
</head>
<body>
<div class="card">
    <div class="card-header">
        calculadora imc
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="txttalla" class="form-label">Ingrese su Talla:</label>
                <input type="number" class="form-control" id="txttalla" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtpeso" class="form-label">Ingrese su peso:</label>
                <input type="number" class="form-control" id="txtpeso" placeholder="name@example.com">
            </div>
            <button type="button" class="btn btn-primary">CALCULAR</button>
        </form>
    </div>
</div>

</body>
</html>