<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PROYECTO DE ADRIAN & DIANA</title>
  <link rel="stylesheet"  th:href="@{/css/bootstrap/bootstrap.css}">
</head>
<body class="container mt-5">
<div class="text-center">
  <h1 class="mb-4">Seleccione un Ejercicio</h1>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a th:href="@{/comision}" class="btn btn-success btn-lg">Comisión Vendedores</a>
    <a th:href="@{/bonificacion}" class="btn btn-warning btn-lg">Bonificación Pagos</a>
    <a th:href="@{/descuento}" class="btn btn-danger btn-lg">Cliente Descuento</a>
    <a th:href="@{/impuesto}" class="btn btn-primary btn-lg">Impuesto Producto</a>
  </div>
</div>
</body>
</html>